.invisible-blocks-akk{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: 3s all;
}

.invisible-blocks{
    background: #a0a0a0;
    padding: 40px;
}

.invisible-blocks{
    border-radius: 8px;
    border: 1px solid rgb(37, 37, 37);
}

input {
    display:block;
    width:100%;
    margin:10px 0;
    padding:10px;
}

  .input-line {
    border-radius:10px;
    border: 1px solid #eee;
    transition: .3s border-color;

  }
  .input-line:hover {
    border: 1px solid #aaa;
  }

a.butt {
    text-align:center;
    font-size:13px;
    text-decoration: none;
    font-weight: 700;
    padding: 3px 6px;
    background: #eaeef1;
    display:block;
    width:60px;
    margin: 20px auto;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));
    border-radius: 3px;
    color: rgba(0,0,0,.6);
    text-shadow: 0 1px 1px rgba(255,255,255,.7);
    box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
}

a.butt:hover, a.butt.hover {
    background: #fff;
}
a.butt:active, a.butt.active {
    background: #d0d3d6;
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
    box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
}

